/* 
#9281A0 -> body background top
#6F5E82 -> body background bottom
#5e5571 -> timer card darker purple
white -> main numbers
#afa8bb -> secondary text hours, minutes and seconds
#3C3647 -> start/stop & resent buttons
*/

@import url('https://fonts.cdnfonts.com/css/digital-7-mono');

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(180deg, #9281A0 0%, #6F5E82 40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 70%;
    height: 300px;
    border-radius: 3px;
}

.smaller-container {
    background-color: #5e5571;
    height: 60%;
    width: 85%;
    padding: 25px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.3);
    position: relative;
}

.top-words {
    display: flex;
    justify-content: center;
}

.hourglass {
    position: fixed;
    margin-top: -25px;
    font-size: 1.2rem;
}

.labels {
    position: absolute;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    color: #afa8bb;
    margin-top: -120px;
    display: flex;
    gap: 40px;
    margin-left: -90px;
}

.display {
    display: flex;
    align-items: center;
    font-size: 6rem;
    font-family: 'Digital-7', monospace;
    color: white;
    margin-bottom: -15px;
}

.prev, .next {
    font-family: 'Digital-7', monospace;
    font-weight: lighter;
    font-size: 2.5rem;
    color: #7e7492;
}

.seconds-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    gap: 65px;
}

.buttons {
    font-family: 'Courier New', Courier, monospace;
    border: none;
    background-color: #e5e4e4;
    margin-top: 25px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px;
    width: 150px;
    height: 35px;
    border-radius: 3px;
}

.start{
    background-color: #9f90c0;
    color: black;
}

.reset {
    background-color: #3C3647;
}